/*------------- #VARIABLES --------------*/



// We use these as default colors throughout
$primary-color: #E63946 !default;
$secondary-color: #1D3557;
$form-color: #1D3557 !default;
$placeholder-form-color: #457B9D;
$white-color: #fff !default;
$heading-color: #457B9D;
$icon-color: #457B9D;



// We use these to control various global styles
$body-bg: #EEF0F8 !default;
$body-font-color: #888da8 !default;
$body-bg-white: #ffffff !default;


// We use these as default border style
$border-round: 100%;
$border-rounded: 3px;
$border-color: #e6ecf5;

$grey: #515365;
$grey-light: #888da8;
$grey-lighter: #9a9fbf;
$purple: #7c5ac2;
$purple-dark: #6236b2;
$blue: #38a9ff;
$breez: #08ddc1;
$breez-light: #2aebcb;
$orange: #ff763a;
$yellow: #ffdc1b;
$smoke: #e6ecf5;
$green: #1ed760;
$smoke-light: #fafbfd;
$blue-light: #00b7ff;
$violet: #7442ce;

$c-facebook: #2f5b9d;
$c-twitter: #38bff1;
$c-dribbble: #f74881;
$c-rss: #fab819;
$c-spotify: #1ed760;
$c-google: #ea4235;


$headings-font-weight-h1-h4:   300;



