<template>
	<div class="row">
		<div
			class="col col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12"
		>
			<div class="ui-block ui-block-custom">
				<div class="ui-block-title">
					<h6>Profile Intro</h6>
				</div>
				<div class="ui-block-content">
					<!-- W-Personal-Info -->

					<ul class="widget w-personal-info item-block">
						<li>
							<span>About Me:</span>
							<span class="text"
								>Hi, I’m James, I’m 36 and I work as a Digital
								Designer for the “Daydreams” Agency in Pier
								56.</span
							>
						</li>
						<li>
							<span>Favourite TV Shows:</span>
							<span class="text"
								>Breaking Good, RedDevil, People of Interest,
								The Running Dead, Found, American Guy.</span
							>
						</li>
						<li>
							<span>Favourite Music Bands / Artists:</span>
							<span class="text"
								>Iron Maid, DC/AC, Megablow, The Ill, Kung
								Fighters, System of a Revenge.</span
							>
						</li>
					</ul>

					<!-- .. end W-Personal-Info -->
					<!-- W-Socials -->

					<div class="widget w-socials">
						<h6>Other Social Networks:</h6>
						<a href="#" class="social-item bg-facebook">
							<i class="lab la-facebook-f"></i>
							Facebook
						</a>
						<a href="#" class="social-item bg-twitter">
							<i class="lab la-twitter"></i>
							Twitter
						</a>
					</div>

					<!-- ... end W-Socials -->
				</div>
			</div>
		</div>
		<div
			class="col col-xl-4 col-12"
		>
			<div id="newsfeed-items-grid">
				<div class="ui-block ui-block-custom">
					<article class="hentry post border-0">
						<div class="post__author author vcard inline-items">
							<img
								src="/img/author-page.jpg"
								alt="author"
							/>

							<div class="author-date">
								<a
									class="h6 post__author-name fn text-secondary"
									href="02-ProfilePage.html"
									>James Spiegel</a
								>
								<div class="post__date">
									<time
										class="published"
										datetime="2017-03-24T18:18"
									>
										19 hours ago
									</time>
								</div>
							</div>

							<div class="more">
								<svg class="olymp-three-dots-icon">
									<use
										xlink:href="/svg-icons/sprites/icons.svg#olymp-three-dots-icon"
									></use>
								</svg>
								<ul class="more-dropdown">
									<li>
										<a href="#">Edit Post</a>
									</li>
									<li>
										<a href="#">Delete Post</a>
									</li>
									<li>
										<a href="#">Turn Off Notifications</a>
									</li>
									<li>
										<a href="#">Select as Featured</a>
									</li>
								</ul>
							</div>
						</div>

						<p>
							Duis aute irure dolor in reprehenderit in voluptate
							velit esse cillum dolore eu fugiat nulla pariatur.
							Excepteur sint occaecat cupidatat non proident, sunt
							in culpa qui officia deserunt mollit anim id est
							laborum. Sed ut perspiciatis unde omnis iste natus
							error sit voluptatem accusantium doloremque.
						</p>

						<div class="post-additional-info inline-items">
							<a href="#" class="post-add-icon inline-items">
								<svg class="olymp-heart-icon">
									<use
										xlink:href="/svg-icons/sprites/icons.svg#olymp-heart-icon"
									></use>
								</svg>
								<span>8</span>
							</a>

							<ul class="friends-harmonic">
								<li>
									<a href="#">
										<img
											loading="lazy"
											src="/img/friend-harmonic7.jpg"
											alt="friend"
										/>
									</a>
								</li>
								<li>
									<a href="#">
										<img
											loading="lazy"
											src="/img/friend-harmonic8.jpg"
											alt="friend"
										/>
									</a>
								</li>
								<li>
									<a href="#">
										<img
											loading="lazy"
											src="/img/friend-harmonic9.jpg"
											alt="friend"
										/>
									</a>
								</li>
								<li>
									<a href="#">
										<img
											loading="lazy"
											src="/img/friend-harmonic10.jpg"
											alt="friend"
										/>
									</a>
								</li>
								<li>
									<a href="#">
										<img
											loading="lazy"
											src="/img/friend-harmonic11.jpg"
											alt="friend"
										/>
									</a>
								</li>
							</ul>

							<div class="names-people-likes">1,100</div>

							<div class="comments-shared">
								<a href="#" class="post-add-icon inline-items">
									<svg class="olymp-speech-balloon-icon">
										<use
											xlink:href="/svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"
										></use>
									</svg>
									<span>17</span>
								</a>
							</div>
						</div>

						<div class="control-block-button post-control-button">
							<a href="#" class="btn btn-control featured-post">
								<svg class="olymp-trophy-icon">
									<use
										xlink:href="/svg-icons/sprites/icons.svg#olymp-trophy-icon"
									></use>
								</svg>
							</a>

							<a href="#" class="btn btn-control">
								<svg class="olymp-like-post-icon">
									<use
										xlink:href="/svg-icons/sprites/icons.svg#olymp-like-post-icon"
									></use>
								</svg>
							</a>

							<a href="#" class="btn btn-control">
								<svg class="olymp-comments-post-icon">
									<use
										xlink:href="/svg-icons/sprites/icons.svg#olymp-comments-post-icon"
									></use>
								</svg>
							</a>

							<a href="#" class="btn btn-control">
								<svg class="olymp-share-icon">
									<use
										xlink:href="/svg-icons/sprites/icons.svg#olymp-share-icon"
									></use>
								</svg>
							</a>
						</div>
					</article>
				</div>
			</div>
		</div>
		<div
			class="col col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12"
		>
			<div class="ui-block ui-block-custom">
				<div class="ui-block-title">
					<h6>Friends (86)</h6>
				</div>
				<div class="ui-block-content">
					<!-- W-Faved-Page -->

					<ul class="widget w-faved-page js-zoom-gallery">
						<li>
							<a href="#">
								<img
									loading="lazy"
									src="/img/avatar38-sm.jpg"
									alt="author"
								/>
							</a>
						</li>
						<li>
							<a href="#">
								<img
									loading="lazy"
									src="/img/avatar24-sm.jpg"
									alt="user"
								/>
							</a>
						</li>
						<li>
							<a href="#">
								<img
									loading="lazy"
									src="/img/avatar36-sm.jpg"
									alt="author"
								/>
							</a>
						</li>
						<li>
							<a href="#">
								<img
									loading="lazy"
									src="/img/avatar35-sm.jpg"
									alt="user"
								/>
							</a>
						</li>
						<li>
							<a href="#">
								<img
									loading="lazy"
									src="/img/avatar34-sm.jpg"
									alt="author"
								/>
							</a>
						</li>
						<li>
							<a href="#">
								<img
									loading="lazy"
									src="/img/avatar33-sm.jpg"
									alt="author"
								/>
							</a>
						</li>
						<li>
							<a href="#">
								<img
									loading="lazy"
									src="/img/avatar32-sm.jpg"
									alt="user"
								/>
							</a>
						</li>
						<li>
							<a href="#">
								<img
									loading="lazy"
									src="/img/avatar31-sm.jpg"
									alt="author"
								/>
							</a>
						</li>
						<li>
							<a href="#">
								<img
									loading="lazy"
									src="/img/avatar30-sm.jpg"
									alt="author"
								/>
							</a>
						</li>
						<li>
							<a href="#">
								<img
									loading="lazy"
									src="/img/avatar29-sm.jpg"
									alt="user"
								/>
							</a>
						</li>
						<li>
							<a href="#">
								<img
									loading="lazy"
									src="/img/avatar28-sm.jpg"
									alt="user"
								/>
							</a>
						</li>
						<li>
							<a href="#">
								<img
									loading="lazy"
									src="/img/avatar27-sm.jpg"
									alt="user"
								/>
							</a>
						</li>
						<li>
							<a href="#">
								<img
									loading="lazy"
									src="/img/avatar26-sm.jpg"
									alt="user"
								/>
							</a>
						</li>
						<li>
							<a href="#">
								<img
									loading="lazy"
									src="/img/avatar25-sm.jpg"
									alt="user"
								/>
							</a>
						</li>
						<li class="all-users">
							<a href="#">+74</a>
						</li>
					</ul>

					<!-- .. end W-Faved-Page -->
				</div>
			</div>
      <div class="ui-block ui-block-custom">
				<div class="ui-block-title">
					<h6>Friends (86)</h6>
				</div>
				<div class="ui-block-content">
					<!-- W-Faved-Page -->

					<ul class="widget w-faved-page js-zoom-gallery">
						<li>
							<a href="#">
								<img
									loading="lazy"
									src="/img/avatar38-sm.jpg"
									alt="author"
								/>
							</a>
						</li>
						<li>
							<a href="#">
								<img
									loading="lazy"
									src="/img/avatar24-sm.jpg"
									alt="user"
								/>
							</a>
						</li>
						<li>
							<a href="#">
								<img
									loading="lazy"
									src="/img/avatar36-sm.jpg"
									alt="author"
								/>
							</a>
						</li>
						<li>
							<a href="#">
								<img
									loading="lazy"
									src="/img/avatar35-sm.jpg"
									alt="user"
								/>
							</a>
						</li>
						<li>
							<a href="#">
								<img
									loading="lazy"
									src="/img/avatar34-sm.jpg"
									alt="author"
								/>
							</a>
						</li>
						<li>
							<a href="#">
								<img
									loading="lazy"
									src="/img/avatar33-sm.jpg"
									alt="author"
								/>
							</a>
						</li>
						<li>
							<a href="#">
								<img
									loading="lazy"
									src="/img/avatar32-sm.jpg"
									alt="user"
								/>
							</a>
						</li>
						<li>
							<a href="#">
								<img
									loading="lazy"
									src="/img/avatar31-sm.jpg"
									alt="author"
								/>
							</a>
						</li>
						<li>
							<a href="#">
								<img
									loading="lazy"
									src="/img/avatar30-sm.jpg"
									alt="author"
								/>
							</a>
						</li>
						<li>
							<a href="#">
								<img
									loading="lazy"
									src="/img/avatar29-sm.jpg"
									alt="user"
								/>
							</a>
						</li>
						<li>
							<a href="#">
								<img
									loading="lazy"
									src="/img/avatar28-sm.jpg"
									alt="user"
								/>
							</a>
						</li>
						<li>
							<a href="#">
								<img
									loading="lazy"
									src="/img/avatar27-sm.jpg"
									alt="user"
								/>
							</a>
						</li>
						<li>
							<a href="#">
								<img
									loading="lazy"
									src="/img/avatar26-sm.jpg"
									alt="user"
								/>
							</a>
						</li>
						<li>
							<a href="#">
								<img
									loading="lazy"
									src="/img/avatar25-sm.jpg"
									alt="user"
								/>
							</a>
						</li>
						<li class="all-users">
							<a href="#">+74</a>
						</li>
					</ul>

					<!-- .. end W-Faved-Page -->
				</div>
			</div>
		</div>
	</div>
</template>

<script>

export default {

}
</script>
