<template>
  <div v-if="recipe">
    <div class="stunning-header" style="height: 60vh">
      <div class="header-spacer--standard"></div>
      <div class="stunning-header-content">
        <h1
          class="stunning-header-title text-capitalize"
          v-text="recipe_name"
        ></h1>
        <h3
          class="text-white"
          style="letter-spacing: 1px"
          v-text="recipe_description"
        ></h3>
      </div>
      <div class="content-bg-wrap">
        <img
          class="w-100"
          :src="recipe_main_img_url"
          alt=""
          style="height: 60vh; object-fit: cover"
        />
      </div>
    </div>
    <div class="container negative-margin-top50">
      <div class="row">
        <div class="col-12">
          <div class="ui-block ui-block-custom">
            <div class="ui-block-title">
              <div class="d-flex align-items-center">
                <div class="recipe-owner d-flex align-items-center">
                  <nuxt-link :to="`/user/${recipe_owner.id}`">
                    <div class="profile">
                      <img
                        :src="recipe_owner.profile_pic_url"
                        @error="subImage"
                      />
                    </div>
                  </nuxt-link>
                  <div class="mx-3"></div>
                  <nuxt-link :to="`/user/${recipe_owner.id}`">
                    <div class="name">
                      <h6
                        class="title text-primary"
                        v-text="
                          recipe_owner.first_name + ' ' + recipe_owner.last_name
                        "
                      ></h6>
                    </div>
                  </nuxt-link>
                </div>
                <div class="flex-grow-1"></div>
                <div class="reacts d-flex">
                  <div
                    class="react"
                    v-for="index in [1, 2, 3, 4]"
                    :key="index"
                    @click="(index) => react(index)"
                  >
                    <img :src="`/img/react-${index}.png`" alt="react" />
                    <div
                      class="text-muted font-weight-bolder text-center"
                      v-text="recipe[`react${index}`]"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui-block-title">
              <div class="d-flex align-items-center justify-content-between">
                <div class="recpe-attr">
                  <div class="recipe-attr_label" v-text="$t('cost')"></div>
                  <div
                    class="recipe-attr_value"
                    v-text="recipe_cost.name"
                  ></div>
                </div>
                <div class="recpe-attr">
                  <div class="recipe-attr_label" v-text="$t('duration')"></div>
                  <div
                    class="recipe-attr_value"
                    v-text="recipe_duration.name"
                  ></div>
                </div>
                <div class="recpe-attr">
                  <div
                    class="recipe-attr_label"
                    v-text="$t('difficulty')"
                  ></div>
                  <div
                    class="recipe-attr_value"
                    v-text="recipe_difficulty_level.name"
                  ></div>
                </div>
                <div class="recpe-attr">
                  <div
                    class="recipe-attr_label"
                    v-text="$t('views_count')"
                  ></div>
                  <div
                    class="recipe-attr_value"
                    v-text="recipe_views_count"
                  ></div>
                </div>
                <div class="recpe-attr">
                  <div
                    class="btn btn-primary text-white"
                    v-text="recipe_category.name"
                  ></div>
                </div>
              </div>
            </div>
          </div>
          <div class="ui-block ui-block-custom">
            <div class="ui-block-content">
              <div class="row">
                <div class="col-md-3 col-12">
                  <h6 class="title" v-text="$t('ingredients')"></h6>
                  <div class="ingredients-list mb-4">
                    <div
                      class="ingredients-list-item"
                      v-for="(item, index) in recipe_ingredients"
                      :key="index"
                    >
                      <i class="las la-plus-circle text-primary"></i>
                      {{ `${item.quantity} ${item.unit.name} ` }}
                      <strong v-text="item.name"></strong>
                      <v-tooltip bottom color="grey">
                        <template v-slot:activator="{ on }">
                          <v-btn icon v-on="on">
                            <i
                              v-if="item.approved_by"
                              class="las la-check-circle text-primary"
                            ></i>
                          </v-btn>
                        </template>
                        <span
                          v-text="
                            $t(
                              'this_ingredient_is_verfied_by_MeetToEat_platform'
                            )
                          "
                        ></span>
                      </v-tooltip>
                    </div>
                  </div>
                  <template v-if="list && list.length > 0">
                    <h6 class="title" v-text="$t('tags')"></h6>
                    <v-chip-group column>
                      <v-chip
                        v-for="item in list"
                        class="ma-1"
                        color="primary"
                        small
                        outlined
                        :key="item.id"
                        v-text="`#${item.name}`"
                      >
                      </v-chip>
                    </v-chip-group>
                  </template>
                </div>
                <div class="col-md-9 col-12">
                  <h6 class="title" v-text="$t('preparation')"></h6>
                  <div
                    class="ingredient-input mb-4 d-flex align-items-end"
                    v-for="(item, index) in recipe_steps"
                    :key="index"
                  >
                    <span>{{ index + 1 }}. </span>
                    <div class="mx-3"></div>
                    <p class="mb-0 text-muted" v-text="item.content"></p>
                  </div>
                  <v-alert
                    v-if="recipe_tips"
                    color="secondary"
                    type="info"
                    text
                  >
                    Some Tips: <br />
                    {{ recipe_tips }}
                  </v-alert>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { createHelpers } from 'vuex-map-fields'

const { mapFields } = createHelpers({ getterType: 'getField' })

const { mapFields: mapRecipeFields } = createHelpers({
  getterType: 'recipe/getField',
  mutationType: 'recipe/updateField',
})

export default {
  data() {
    return {
      id: this.$route.params.id,
      list: [
        { id: 1, name: 'asdsad' },
        { id: 2, name: 'asdsad' },
        { id: 3, name: 'asasdsad' },
        { id: 4, name: 'miuyyn' },
        { id: 5, name: 'okioefw' },
        { id: 6, name: 'ghtr' },
        { id: 7, name: 'sa;plkpfl' },
      ],
    }
  },

  computed: {
    ...mapRecipeFields({
      recipe: 'recipe',
      recipe_name: 'recipe.name',
      recipe_main_img_url: 'recipe.main_img_url',
      recipe_description: 'recipe.description',
      recipe_owner: 'recipe.owner',
      recipe_cost: 'recipe.cost',
      recipe_category: 'recipe.category',
      recipe_duration: 'recipe.duration',
      recipe_difficulty_level: 'recipe.difficulty_level',
      recipe_views_count: 'recipe.views_count',
      recipe_ingredients: 'recipe.ingredients',
      recipe_tips: 'recipe.tips',
      recipe_steps: 'recipe.steps',
    }),
  },

  methods: {
    subImage(e) {
      e.target.src = '/img/logo.png'
    },
    react(index) {
      console.log(index)
    },
  },

  created() {
    this.$store.dispatch('recipe/get_recipe', {
      id: this.id,
    })
  },

  watch: {
    recipe(value) {
      console.log('recipe', value)
    },
  },
}
</script>

<style></style>
