<template>
  <div>
    <div class="stunning-header">
      <div class="header-spacer--standard"></div>
      <div class="stunning-header-content">
        <h1
          class="stunning-header-title text-capitalize"
          v-text="$t('add_new_recipe')"
        ></h1>
      </div>
      <div class="content-bg-wrap stunning-header-bg1"></div>
    </div>
    <div class="container negative-margin-top50">
      <div class="row">
        <div class="col-12">
          <div class="ui-block ui-block-custom">
            <div class="ui-block-title d-flex">
              <v-text-field
                :label="$t('recipe_name')"
                v-model="name"
                outlined
                hide-details
              ></v-text-field>
              <div class="mx-2"></div>
              <button
                class="btn btn-primary text-capitalize"
                v-text="$t('publish_recipe')"
                @click="StoreRecipe"
              ></button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="ui-block ui-block-custom">
            <div class="ui-block-title border-0 pb-0">
              <h6
                class="title text-capitalize"
                v-text="$t('recipe_main_image')"
              ></h6>

            </div>
            <div class="ui-block-content">
              <div class="row align-items-center">
                <div class="col-12">
                  <image-uploader img_type="recipe" @image-uploaded="id => updateMainImage(id)"></image-uploader>
                </div>
              </div>
            </div>
            <div class="ui-block ui-block-custom">
              <div class="ui-block-title border-0 pb-0">
                <h6
                  class="title text-capitalize"
                  v-text="$t('recipe_attributes')"
                ></h6>
              </div>
              <div class="ui-block-content">
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <v-select
                        v-model="category_id"
                        :items="categoriesOptions"
                        :menu-props="{ offsetY: true }"
                        item-text="name"
                        item-value="id"
                        outlined
                        :label="$t('category')"
                        hide-details
                      >
                      </v-select>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <v-select
                        v-model="difficulty_level_id"
                        :items="difficultiesOptions"
                        :menu-props="{ offsetY: true }"
                        item-text="name"
                        item-value="id"
                        outlined
                        :label="$t('difficulty')"
                        hide-details
                      >
                      </v-select>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <v-select
                        v-model="cost_id"
                        :items="costsOptions"
                        :menu-props="{ offsetY: true }"
                        item-text="name"
                        item-value="id"
                        outlined
                        :label="$t('cost')"
                        hide-details
                      >
                      </v-select>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <v-select
                        v-model="duration_id"
                        :items="durationsOptions"
                        :menu-props="{ offsetY: true }"
                        item-text="name"
                        item-value="id"
                        outlined
                        :label="$t('duration')"
                        hide-details
                      >
                      </v-select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui-block ui-block-custom">
              <div class="ui-block-title border-0 pb-0">
                <h6 class="title text-capitalize" v-text="$t('steps')"></h6>
              </div>
              <div class="ui-block-content">
                <div
                  v-for="(item, index) in recipe_steps"
                  :key="index"
                  class="d-flex align-items-center step-input mb-2"
                >
                  <span>{{ index + 1 }}. </span>
                  <div class="mx-2"></div>
                  <v-textarea
                    v-model="item.content"
                    :label="$t('step_content')"
                    :key="index"
                    rows="3"
                    hide-details
                    outlined
                  ></v-textarea>
                  <div class="mx-2"></div>
                  <image-uploader style="height: 100px; width: 150px" img_type="recipe" @image-uploaded="id => updateStepImage({id,index})"></image-uploader>
                </div>
                <div class="d-flex justify-content-end">
                  <button class="btn btn-light text-primary" @click="addStep">
                    <i class="la la-plus"></i>
                    {{ $t('add_step') }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div div class="col-md-6 col-12">
          <div class="ui-block ui-block-custom">
            <div class="ui-block-title border-0 pb-0">
              <h6
                class="title text-capitalize"
                v-text="$t('recipe_general_information')"
              ></h6>
            </div>
            <div class="ui-block-content">
              <v-textarea
                :label="$t('description')"
                rows="3"
                v-model="description"
                outlined
              ></v-textarea>
              <v-textarea
                :label="$t('tips')"
                v-model="tips"
                rows="3"
                outlined
              ></v-textarea>
              <v-alert color="secondary" type="info" text>
                Recipe tip is used to add helpful information about this recipe,
                for example: recipe benefits, "did you know section", etc ..
              </v-alert>
            </div>
          </div>
          <div class="ui-block ui-block-custom">
            <div class="ui-block-title border-0 pb-0">
              <h6 class="title text-capitalize" v-text="$t('ingredients')"></h6>
            </div>
            <div class="ui-block-content">
              <div
                v-for="(item, index) in recipe_ingredients"
                :key="index + 1"
                class="d-flex align-items-center ingredient-input"
              >
                <span>{{ index + 1 }}. </span>
                <div class="mx-2"></div>
                <ingredient-autocomplete
                  v-model="item.ingredient_id"
                ></ingredient-autocomplete>
                <v-text-field
                  class="flex-grow-0"
                  outlined
                  type="number"
                  hide-details
                  v-model="item.quantity"
                  :label="$t('quantity')"
                  style="width: 100px"
                ></v-text-field>
                <v-autocomplete
                  :items="unitsOptions"
                  :menu-props="{ offsetY: true }"
                  outlined
                  item-text="name"
                  item-value="id"
                  :label="$t('unit')"
                  hide-details
                  v-model="item.unit_id"
                  class="flex-grow-0"
                  style="width: 150px"
                >
                </v-autocomplete>
                <div class="mx-2"></div>
                <v-btn icon @click="removeIngredient(index)">
                  <v-icon color="primary">la la-times-circle</v-icon>
                </v-btn>
              </div>
              <div class="d-flex justify-content-end">
                <button
                  class="btn btn-light text-primary"
                  @click="addIngredient"
                >
                  <i class="la la-plus"></i>
                  {{ $t('add_ingredient') }}
                </button>
              </div>
            </div>
          </div>
          <div class="ui-block ui-block-custom">
            <div class="ui-block-title border-0 pb-0">
              <h6 class="title text-capitalize" v-text="$t('tags')"></h6>
            </div>
            <div class="ui-block-content">
              <v-text-field
                v-model="tag"
                outlined
                hide-details
                :label="$t('tags')"
                :placeholder="$t('please_type_your_tab_then_press_enter')"
                @keyup.space="addTag"
                @keyup.enter="addTag"
              ></v-text-field>
              <v-chip-group column class="mt-2 tags-holder">
                <v-chip
                  v-for="(item, index) in tags"
                  class="ma-1"
                  close
                  small
                  color="primary"
                  text-color="white"
                  :key="index"
                  v-text="`#${item}`"
                >
                </v-chip>
              </v-chip-group>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import IngredientAutocomplete from '../../components/IngredientAutocomplete'
import ImageUploader from '../../components/ImageUploader'
import { createHelpers, mapMultiRowFields } from 'vuex-map-fields'

const { mapFields } = createHelpers({ getterType: 'getField' })
const { mapFields: mapRecipeAddFields } = createHelpers({
  getterType: 'recipe/add/getField',
  mutationType: 'recipe/add/updateField',
})
const { mapFields: mapCoreFields } = createHelpers({
  getterType: 'core/getField',
  mutationType: 'core/updateField',
})

export default {
  components: {
    'ingredient-autocomplete': IngredientAutocomplete,
    'image-uploader': ImageUploader
  },

  data() {
    return {
      isLoading: false,
      tag: '',
    }
  },

  computed: {
    ...mapGetters({
      ingredients: 'core/ingredients',
      categoriesOptions: 'sub_categories',
    }),
    ...mapFields({
      difficultiesOptions: 'difficulties',
      costsOptions: 'costs',
      durationsOptions: 'durations',
      unitsOptions: 'units',
    }),
    ...mapCoreFields({
      image: 'core/image',
    }),
    ...mapRecipeAddFields({
      name: 'data.name',
      main_img: 'data.main_img',
      description: 'data.description',
      tips: 'data.tips',
      category_id: 'data.category_id',
      duration_id: 'data.duration_id',
      difficulty_level_id: 'data.difficulty_level_id',
      cost_id: 'data.cost_id',
      tags: 'data.tags',
    }),
    ...mapMultiRowFields('recipe/add', {
      recipe_ingredients: 'data.ingredients',
      recipe_steps: 'data.steps',
    }),
  },

  methods: {
    addIngredient() {
      this.$store.commit('recipe/add/add_ingredient')
    },
    addStep() {
      this.$store.commit('recipe/add/add_step')
    },
    addTag() {
      this.$store.commit('recipe/add/add_tag', this.tag)
      this.tag = ''
    },
    updateMainImage(id) {
      this.$store.commit('recipe/add/update_main_img', id)
    },
    updateStepImage(payload) {
      this.$store.commit('recipe/add/update_step_img', payload)
    },
    removeIngredient(index) {
      this.$store.commit('recipe/add/remove_ingredient', index)
    },

    async StoreRecipe() {
      try {
        this.isLoading = true;
        const {id} = await this.$store.dispatch('recipe/add/store_recipe')
        this.isLoading = false;
        this.$router.push(`/recipe/${id}`)
      } catch (error) {
        console.log(error)
      }
    },
  },
}
</script>

<style></style>
