<template>
  <div>
    <pre-loader v-if="isLoading" :transparent="true" />

    <div class="stunning-header">
      <div class="header-spacer--standard"></div>
      <div class="stunning-header-content">
        <h1
          class="stunning-header-title text-capitalize"
          v-text="$t('find your perfect-matching recipe')"
        ></h1>
      </div>

      <div class="content-bg-wrap stunning-header-bg1"></div>
    </div>
    <section class="negative-margin-top50 mb60">
      <div class="container">
        <!-- Search Form  -->

        <div class="search-form p-0">
          <div
            class="ui-block-title d-flex align-items-center flex-wrap border-0"
          >
            <div class="h6 mx-2 filter-by">Filter By:</div>
            <div class="form-group mx-2 mb-3 mb-lg-0">
              <v-select
                v-model="categories_ids"
                :items="categoriesOptions"
                :menu-props="{ offsetY: true }"
                item-text="name"
                item-value="id"
                outlined
                label="Category"
                hide-details
                multiple
              >
                <template v-slot:selection="{ item, index }">
                  <span v-if="index === 0">{{ item.name }}</span>
                  <span v-if="index === 1" class="grey--text caption">
                    (+{{ categories_ids.length - 1 }} others)</span
                  >
                </template>
              </v-select>
            </div>
            <div class="form-group mx-2 mb-3 mb-lg-0">
              <v-select
                v-model="difficulty_level_ids"
                :items="difficultiesOptions"
                :menu-props="{ offsetY: true }"
                item-text="name"
                item-value="id"
                outlined
                label="Difficulty"
                hide-details
                multiple
              >
              </v-select>
            </div>
            <div class="form-group mx-2 mb-3 mb-lg-0">
              <v-select
                v-model="cost_ids"
                :items="costsOptions"
                :menu-props="{ offsetY: true }"
                item-text="name"
                item-value="id"
                outlined
                label="Cost"
                hide-details
                multiple
              >
              </v-select>
            </div>
            <div class="form-group mx-2 mb-3 mb-lg-0">
              <v-select
                v-model="duration_ids"
                :items="durationsOptions"
                :menu-props="{ offsetY: true }"
                item-text="name"
                item-value="id"
                outlined
                label="Duration"
                hide-details
                multiple
              >
              </v-select>
            </div>
            <a
              href="#"
              data-toggle="modal"
              data-target="#create-photo-album"
              class="btn btn-primary mx-2 flex-grow-1 filter-submit"
              @click="advancedSearchToggle = !advancedSearchToggle"
              >Filter</a
            >
          </div>
          <transition-group name="fade">
            <div
              v-if="advancedSearchToggle"
              :key="1"
              class="ui-block-title d-flex align-items-center flex-wrap border-0 pt-0"
            >
              <div
                class="h6 mx-2 filter-by"
                v-text="$t('include_ingredients')"
              ></div>
              <div class="form-group mx-2 mb-3 mb-lg-0 flex-grow-0">
                <ingredient-autocomplete
                  v-model="include_ingredients"
                  :multiple="true"
                ></ingredient-autocomplete>
              </div>
            </div>
            <div
              v-if="advancedSearchToggle"
              class="ui-block-title d-flex align-items-center flex-wrap border-0 pt-0"
              :key="2"
            >
              <div
                class="h6 mx-2 filter-by"
                v-text="$t('exclude_ingredients')"
              ></div>
              <div class="form-group mx-2 mb-3 mb-lg-0 flex-grow-0">
                <ingredient-autocomplete
                  v-model="exclude_ingredients"
                  :multiple="true"
                ></ingredient-autocomplete>
              </div>
            </div>
          </transition-group>
        </div>
        <div class="d-flex justify-content-end">
          <button
            class="btn btn-lignt text-primary text-capitalize"
            @click="advancedSearchToggle = !advancedSearchToggle"
          >
            <i :class="`la la-${advancedSearchToggle ? 'minus' : 'plus'}`"></i>
            {{ $t('advanced_search') }}
          </button>
        </div>
      </div>
    </section>
    <div class="container">
      <main class="row">
        <div
          class="col-lg-4 col-md-6 col-12"
          v-for="item in recipes"
          :key="item.id"
        >
          <recipe-card :item="item"></recipe-card>
        </div>
      </main>
      <div class="text-center">
        <v-pagination
          v-if="total"
          v-model="current_page"
          :length="pagesCount"
          class="my-4"
        ></v-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { createHelpers } from 'vuex-map-fields'
import RecipeCard from '../../components/RecipeCard/index'
import IngredientAutocomplete from '../../components/IngredientAutocomplete'
import PreLoader from '../../components/PreLoader'

const { mapFields } = createHelpers({ getterType: 'getField' })
const { mapFields: mapSearchFields } = createHelpers({
  getterType: 'recipe/search/getField',
  mutationType: 'recipe/search/updateField',
})

export default {
  components: {
    'recipe-card': RecipeCard,
    'ingredient-autocomplete': IngredientAutocomplete,
    'pre-loader': PreLoader,
  },
  data() {
    return {
      advancedSearchToggle: false,
      ingredientsSearch: null,
      isLoading: false,
      page: 1,
    }
  },

  computed: {
    ...mapFields({
      difficultiesOptions: 'difficulties',
      costsOptions: 'costs',
      durationsOptions: 'durations',
      categoriesOptions: 'categories',
    }),
    ...mapSearchFields({
      include_ingredients: 'filter.include_ingredients',
      exclude_ingredients: 'filter.exclude_ingredients',
      main_ingredients: 'filter.main_ingredients',
      categories_ids: 'filter.categories_ids',
      difficulty_level_ids: 'filter.difficulty_level_ids',
      duration_ids: 'filter.duration_ids',
      cost_ids: 'filter.cost_ids',
      current_page: 'pagination.current_page',
      per_page: 'pagination.per_page',
      total: 'pagination.total',
      recipes: 'recipes',
    }),

    fitlerwatchers() {
      return (
        this.include_ingredients,
        this.exclude_ingredients,
        this.main_ingredients,
        this.categories_ids,
        this.difficulty_level_ids,
        this.duration_ids,
        this.cost_ids,
        new Date()
      )
    },

    fitlerpagination() {
      return this.current_page, new Date()
    },

    pagesCount() {
      return this.total ? Math.ceil(this.total / this.per_page) : null
    },
  },

  watch: {
    async ingredientsSearch(value) {
      // Items have already been requested
      if (this.isLoading) return

      await this.$store.dispatch('recipe/search/search_ingredients', {
        key: value,
      })
    },

    fitlerwatchers() {
      if (this.current_page !== 1) {
        this.$store.commit('recipe/search/update_current_page', 1)
      } else {
        this.getRecipes()
      }
    },
    fitlerpagination() {
      this.getRecipes()
    },
  },

  methods: {
    async getRecipes() {
      this.isLoading = true

      await this.$store.dispatch('recipe/search/get_recipes')

      this.isLoading = false
    },

    GoToRecipe(id) {
      this.$route.push('')
    },
  },

  created() {
    this.getRecipes()
  },
}
</script>
