<template>
  <div class="add-recipe_main-img" @click="OpenUploaderMenu">
    <img :src="imgURL ? imgURL : imgPlaceholder" alt="recipe image" />
    <v-btn
      class="edit-icon m-2"
      fab
      dark
      x-small
      elevation="0"
      v-if="imgURL"
      color="primary"
      @click.prevent="removeImage"
    >
      <v-icon>la la-edit</v-icon>
    </v-btn>
    <div class="placeholder" v-if="!imgURL">
      <i class="la la-cloud-upload-alt"></i>
      {{ $t('click_to_upload_image') }}
    </div>
    <input
      ref="uploader"
      class="d-none"
      type="file"
      accept="image/*"
      @change="onFileChanged"
    />
  </div>
</template>

<script>
export default {
  props: ['img_type'],
  data() {
    return {
      image: {
        img: null,
        type: this.img_type,
      },
      imgURL: null,
      imgPlaceholder: '/img/bg-section3.png',
    }
  },

  methods: {
    OpenUploaderMenu() {
      this.$refs.uploader.click()
    },
    removeImage() {
      this.image.img = null
      // this.OpenUploaderMenu()
    },
    async onFileChanged(e) {
      this.image.img = e.target.files[0]
      try {
        const response = await this.$store.dispatch('core/upload_image', {
          image: this.image,
        })
        this.imgURL = response.url
        this.$emit('image-uploaded', response.id)
      } catch (e) {
        console.log(e)
      }
    },
  },
}
</script>

<style></style>
