<template>
  <v-autocomplete
    v-if="multiple === true"
    v-model="content"
    :items="ingredients"
    :search-input.sync="search"
    :loading="isLoading"
    :menu-props="{ offsetY: true }"
    item-text="name"
    item-value="id"
    outlined
    :label="$t('ingredients')"
    hide-details
    cache-items
    multiple
  >
  </v-autocomplete>
  <v-combobox
    v-else
    ref="combobox"
    v-model="content"
    :items="ingredients"
    :search-input.sync="search"
    :loading="isLoading"
    :menu-props="{ offsetY: true }"
    item-text="name"
    item-value="id"
    outlined
    :label="$t('ingredients')"
    hide-details
  >
    <template v-slot:no-data>
      <v-list-item>
        <span class="subheading">press</span>
        <strong>&nbsp; {{ $t('enter') }} &nbsp;</strong>
        <span class="subheading">to add "{{ search }}"</span>
      </v-list-item>
    </template>
  </v-combobox>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  props: ['value', 'multiple'],
  data() {
    return {
      content: this.multiple ? [] : '',
      isLoading: false,
      search: null,
      ingredients: [],
    }
  },

  computed: {},

  watch: {
    async search(value) {
      // Items have already been requested
      // this.content = value

      if (value === null) return
      if (this.isLoading) return

      this.isLoading = true

      this.ingredients = await this.$store.dispatch('core/search_ingredients', {
        key: value,
      })

      this.isLoading = false
    },

    content(value) {
      // reset search input
      // check if type is string then we it's new ingredient
      // we should wrap it inside object
      if (typeof value === 'string' || value instanceof String) {
        this.$emit('input', {
          id: -1,
          name: value,
        })
      } else {
        this.$emit('input', value)
      }
      if (!this.multiple) this.$refs.combobox.isMenuActive = false
    },
  },

  methods: {},
}
</script>

<style></style>
