<template>
  <div id="" :class="`hellopreloader ${transparent ? 'loader-transparent' : ''}`">
    <div class="preloader">
      <img class="loader-img" src="/img/logo.png" alt="Meet To Eat Logo" />
      <div class="title text-white mt-2 font-weight-light">Loading ...</div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['transparent'],
}
</script>
