::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  outline: 1px solid $primary-color;
}
body {
  background: $body-bg;
}
.ui-block.ui-block-custom {
  border: 0;
  box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);
}
.v-list-item__action {
  margin: 0 !important;
}
.v-list-item__content {
  padding: 8px 0 !important;
}
.v-text-field--outlined fieldset {
  border-color: #e6ecf5 !important;
}
.v-text-field--outlined.v-input--is-focused fieldset,
.v-text-field--outlined.v-input--has-state fieldset {
  border-color: #e63946 !important;
}
.v-application a {
  color: white;
}

/* START: TRANSITIONS*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.list-enter-active,
.list-leave-active,
.list-move {
  transition: 500ms cubic-bezier(0.59, 0.12, 0.34, 0.95);
  transition-property: opacity, transform;
}

.list-enter {
  opacity: 0;
  transform: translateX(50px) scaleY(0.5);
}

.list-enter-to {
  opacity: 1;
  transform: translateX(0) scaleY(1);
}

.list-leave-active {
  position: absolute;
}

.list-leave-to {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: center top;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
.registration-login-form {
  min-height: auto;
}
/* END: TRANSITIONS*/

.help-support-list {
  li {
    padding: 10px 20px;
    margin-top: 0 !important;
    cursor: pointer;
    border-radius: 0 0.3em 0.3em 0;
    transition: all 0.3s ease-in-out;
    &:last-child {
      border-bottom: 0;
    }
    span {
      color: #888da8;
    }
    svg {
      margin-right: 10px;
    }
    &:hover {
      span {
        color: $secondary-color;
      }
      svg {
        fill: $primary-color;
      }
    }
    &.active {
      background-color: $primary-color;
      span {
        color: $white-color;
        font-weight: bold;
      }
      svg {
        fill: $white-color;
      }
    }
  }
}
.category-item {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  &.active {
    border: 2px solid $white-color;
    box-shadow: 0 0 0 2px $primary-color;
    .category-overlay {
      background-color: rgba($color: $secondary-color, $alpha: 0.8);
    }
    i {
      opacity: 1;
    }
  }
  .category-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $secondary-color, $alpha: 0.2);
    transition: background-color 0.5s ease-in-out;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
  }
  span {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.5rem;
    color: white;
    font-size: 1.25em;
  }
  i {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.25rem;
    font-size: 2em;
    color: $white-color;
    transition: opacity 0.3s ease-in-out;
  }
  &:not(.active):hover {
    .category-overlay {
      background-color: rgba($color: $secondary-color, $alpha: 0.1);
    }
    img {
      width: 105%;
      height: 105%;
    }
  }
}
.v-dialog.v-dialog--active {
  height: 80vh;
}
.search-form {
  .btn {
    border-radius: 0.25rem;
  }
  .form-group {
    max-width: 200px;
  }
}
@media (max-width: 991.98px) {
  .search-form {
    .filter-submit,
    .filter-by {
      flex-basis: 95%;
    }
  }
}

.filter-group {
  .v-label {
    margin-bottom: 0;
  }
  .v-input--selection-controls {
    padding-top: 2px;
  }
}
.v-application--is-ltr .v-input--selection-controls__input {
  margin-right: 4px;
}
.blog-post {
  p {
    font-size: 0.8rem;
  }
  .post-additional-info > * {
    margin: auto;
    margin-left: 0  ;
  }
}
.post-category {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
  padding: 7px 14px;
}

.ingredient-input,
.step-input {
  span {
    color: $secondary-color;
    font-size: 1.5em;
    font-weight: 700;
  }
}
.ingredient-input {
  .v-text-field--outlined {
    border-radius: 0;
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.add-recipe {
  &_step-img {
    width: 80px;
    height: 80px;
    border-radius: 0.25em;
  }
  &_main-img {
    position: relative;
    width: 100%;
    border: 2px solid $white-color;
    box-shadow: 0 0 0 2px $secondary-color;
    border-radius: 0.25em;
    height: 300px;
    cursor: pointer;
    .placeholder {
      position: relative;
      background-color: rgba($color: #1d3557, $alpha: 0.1);
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: 1.25em;
      color: rgba($color: $secondary-color, $alpha: 0.7);
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
      &:hover {
        background-color: rgba($color: #1d3557, $alpha: 0.7);
        color: rgba($color: $white-color, $alpha: 0.7);
      }
      i {
        font-size: 2.5em;
      }
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    .edit-icon {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
    }
  }
}
.logo {
  img {
    height: 80px;
    object-fit: contain;
  }
}
.link-find-friend {
  text-transform: capitalize;
  color: white;
}
.content-bg-wrap {
  &::before {
    background-color: rgba($color: $secondary-color, $alpha: 0.5);
  }
}
.tags-holder {
  background-color: #f9f9f9;
  border-radius: 0.25em;
}

.hellopreloader {
  display: block;
  position: fixed;
  text-align: center;
  z-index: 9999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  background: $primary-color;
  background-size: 41px;
  opacity: 1;
  .loader-img {
    animation: scale 1s infinite;
    width: 250px;
    height: 250px;
    object-fit: contain;
  }
  &.loader-transparent {
    background: rgba(29, 53, 87, 0.5) !important;
    z-index: 9999998;
    .loader-img {
      width: 128px;
      height: 128px;
    }
  }
}

.recpe-attr {
  padding: 1em 0;
  .recipe-attr_label {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1em;
  }

  .recipe-attr_value {
    font-weight: 700;
    font-size: 1.25em;
    letter-spacing: 1px;
  }
}

.ingredients-list {
  background-color: #f9f9f9;
  border-radius: 0.25em;
  padding: 0.5em;
  &-item {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.5em;
    color: rgba(0, 0, 0, 0.87);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}
.stunning-header-title {
  font-weight: 900;
}
.post-thumb img {
  max-height: 250px;
  object-fit: cover;
}
.recipe-owner {
  .profile {
    width: 100px;
    height: 100px;
    border: 2px solid $white-color;
    box-shadow: 0 0 0 2px $secondary-color;
    border-radius: 50%;
    overflow: hidden;
    &-sm {
      width: 50px;
      height: 50px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.reacts {
  .react {
    img {
      transition: transform 0.2s ease-in-out;
      width: 32px;
      height: 32px;
      margin: auto 10px;
      object-fit: contain;
    }
    &:hover img {
      transform: scale(1.5);
    }
  }
  &-sm {
    .react {
      margin: auto -12px;
      img {
        width: 25px;
        height: 25px;
      }
    }
  }
}
@keyframes scale {
  50% {
    transform: scale(1.05);
  }
}
