<template>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="ui-block ui-block-custom profile" v-if="user">
          <div class="top-header">
            <div class="top-header-thumb">
              <img src="https://i.imgur.com/6rfZgIT.jpg" alt="nature" />
            </div>
            <div class="profile-section">
              <div class="row">
                <div class="col col-lg-5 col-md-5 col-sm-12 col-12">
                  <ul class="profile-menu">
                    <li>
                      <nuxt-link
                        :to="`/user/${id}`"
                        :class="child === '' ? 'active' : ''"
                        >Timeline</nuxt-link
                      >
                    </li>
                    <li>
                      <nuxt-link
                        :to="`/user/${id}/about`"
                        :class="child === 'about' ? 'active' : ''"
                        >About</nuxt-link
                      >
                    </li>
                    <li>
                      <a href="06-ProfilePage.html">Favourites</a>
                    </li>
                  </ul>
                </div>
                <div class="col col-lg-5 ml-auto col-md-5 col-sm-12 col-12">
                  <ul class="profile-menu">
                    <li>
                      <nuxt-link :to="`/user/${id}/followers`">Followers</nuxt-link>
                    </li>
                    <li>
                      <nuxt-link :to="`/user/${id}/following` ">Following</nuxt-link>
                    </li>
                    <li>
                      <div class="more">
                        <svg class="olymp-three-dots-icon">
                          <use
                            xlink:href="/svg-icons/sprites/icons.svg#olymp-three-dots-icon"
                          ></use>
                        </svg>
                        <ul class="more-dropdown more-with-triangle">
                          <li>
                            <a href="#">Report Profile</a>
                          </li>
                          <li>
                            <a href="#">Block Profile</a>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="control-block-button">
                <a
                  href="35-YourAccount-FriendsRequests.html"
                  class="btn btn-control bg-blue"
                >
                  <svg class="olymp-happy-face-icon">
                    <use
                      xlink:href="/svg-icons/sprites/icons.svg#olymp-happy-face-icon"
                    ></use>
                  </svg>
                </a>

                <a href="#" class="btn btn-control bg-purple">
                  <svg class="olymp-chat---messages-icon">
                    <use
                      xlink:href="/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"
                    ></use>
                  </svg>
                </a>

                <div class="btn btn-control bg-primary more">
                  <svg class="olymp-settings-icon">
                    <use
                      xlink:href="/svg-icons/sprites/icons.svg#olymp-settings-icon"
                    ></use>
                  </svg>

                  <ul
                    class="more-dropdown more-with-triangle triangle-bottom-right"
                  >
                    <li>
                      <a
                        href="#"
                        data-toggle="modal"
                        data-target="#update-header-photo"
                        >Update Profile Photo</a
                      >
                    </li>
                    <li>
                      <a
                        href="#"
                        data-toggle="modal"
                        data-target="#update-header-photo"
                        >Update Header Photo</a
                      >
                    </li>
                    <li>
                      <a href="29-YourAccount-AccountSettings.html"
                        >Account Settings</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="top-header-author">
              <a href="02-ProfilePage.html" class="author-thumb">
                <img
                  loading="lazy"
                  src="https://html.crumina.net/html-olympus/img/author-main1.jpg"
                  alt="author"
                />
              </a>
              <div class="author-content">
                <div class="h4 author-name text-primary">{{user.first_name + ' ' + user.last_name}} </div>
                <div class="country" v-text="user.country.name"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nuxt-child />
  </div>
</template>

<script>
import { createHelpers } from 'vuex-map-fields'

const { mapFields: mapUserFields } = createHelpers({
	getterType: 'user/getField',
	mutationType: 'user/updateField',
})

export default {
  data() {
    return {
      id: this.$route.params.id,
      child: null,
    }
  },

  computed: {
    ...mapUserFields(['user'])
  },

  watch: {
    $route: function (route) {
      this.getChildName(route)
    },
  },

  created() {
    this.getChildName(this.$route)
    this.$store.dispatch('user/get_user', {
      id: this.id,
    })
  },

  methods: {
    getChildName: function (route) {
      this.child = route.name.substring(8)
    },
  },
}
</script>

<style lang="scss" scoped>
.profile {
  .top-header-thumb {
    height: 60vh;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
}
</style>
