// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$font-size-root: 1rem;
$icon-size: 20px;
$label-font-size: 0.9rem;
$text-field-filled-full-width-outlined-slot-min-height: 40px;
$text-field-outlined-fieldset-border: 1px solid #e6ecf5;
$select-outlined-selections-padding-top: 0;
$text-field-enclosed-prepend-append-margin-top: 10px;
$text-field-outlined-label-position-x: 11px;
$list-item-action-icon-margin: 0;
$list-item-min-height: 30px;
$list-item-title-font-size: 0.9rem;
$text-field-outlined-label-position-y: -18px;
$input-font-size: 0.815rem;
$text-field-outlined-append-prepend-outer-margin-top: 8px;
$tooltip-font-size: 10px;
$tooltip-padding: 3px 10px
