<template>
  <article class="hentry blog-post ui-block ui-block-custom">
    <div
      class="ui-block-title border-0 d-flex align-items-center w-100 justify-content-between"
    >
      <div class="recipe-owner d-flex align-items-center">
        <nuxt-link :to="`/user/${owner.id}`">
          <div class="profile profile-sm">
            <img :src="owner.profile_pic_url" @error="subImage" />
          </div>
        </nuxt-link>
        <div class="mx-2"></div>
        <div>
          <nuxt-link :to="`/recipe/${id}`">
            <h1
              class="title font-weight-bold text-primary mb-0"
              v-text="name"
            ></h1>
          </nuxt-link>
          <div class="name text-secondary">
            {{ $t('recipe_by') }}
            <nuxt-link
              :to="`/user/${owner.id}`"
              class="text-secondary font-weight-bold mx-1"
            >
              {{ owner.first_name + ' ' + owner.last_name }}
            </nuxt-link>
          </div>
          <div class="post__date text-secondary mt-1">
            <time
              class="published"
              datetime="2017-03-24T18:18"
              v-text="formattedDate"
            >
            </time>
          </div>
        </div>
      </div>
      <div class="post-category bg-primary" v-text="category"></div>
    </div>
    <div class="post-thumb position-relative">
      <img
        :src="main_img_url ? main_img_url : imagePlaceholder"
        @error="subImage"
      />
    </div>

    <div class="post-content">
      <div class="d-flex justify-content-between">
        <recipe-attr icon="money-bill-alt" :text="cost"></recipe-attr>
        <recipe-attr icon="stopwatch" :text="duration"></recipe-attr>
        <recipe-attr icon="tachometer-alt" :text="difficulty"></recipe-attr>
        <recipe-attr icon="eye" :text="views_count"></recipe-attr>
      </div>

      <div class="post-additional-info inline-items">
        <div class="friends-harmonic-wrap">
          <div class="reacts reacts-sm d-flex">
            <div
              class="react"
              v-for="index in [1, 2, 3, 4]"
              :key="index"
              @click="(index) => react(index)"
            >
              <img :src="`/img/react-${index}.png`" alt="react" />
              <div class="text-muted font-weight-bolder text-center"></div>
            </div>
          </div>
          <div
            class="names-people-likes mx-2 text-muted font-weight-bold"
            v-text="total_react"
          ></div>
        </div>
      </div>
    </div>
  </article>
</template>

<script>
import RecipeAttr from './RecipeAttr'
export default {
  props: ['item'],
  data() {
    return {
      imagePlaceholder: '/img/logo-placeholder.png',
      id: this.item.id,
      name: this.item.name,
      category: this.item.category.name,
      main_img_url: this.item.main_img_url,
      owner: this.item.owner,
      created_at: this.item.created_at,
      cost: this.item.cost.name,
      duration: this.item.duration.name,
      difficulty: this.item.difficulty_level.name,
      reaction_count: this.item.reaction_count,
      comments_count: this.item.comments_count,
      total_react: this.item.total_react,
      views_count: this.item.views_count,
    }
  },
  components: {
    'recipe-attr': RecipeAttr,
  },
  computed: {
    formattedDate() {
      return this.created_at
        ? new Date(this.created_at).toISOString().substr(0, 10)
        : ''
    },
  },

  methods: {
    subImage(e) {
      e.target.src = this.imagePlaceholder
    },
    react(index) {
      console.log(index)
    },
  },
  created() {
    console.log(this.item)
  },
}
</script>

<style></style>
