<template>
	<div class="recipe-attr d-flex flex-column align-items-center text-muted">
		<i :class="`h2 font-weight-bolder mb-0 las la-${icon}`"></i>
		<span v-text="text"></span>
	</div>
</template>

<script>
export default {
  props: ['icon', 'text']
}
</script>

<style></style>
