<template>
	<v-app class="page-has-left-panels bg-transparent">
		<!-- Preloader -->
		<pre-loader v-if="loading" />
		<!-- ... end Preloader -->

		<!-- Fixed Sidebar Left -->
		<div
			:class="`fixed-sidebar ${sidebarOpened ? 'open' : ''}`"
			@focusout="sidebarOpened = false"
      @keydown.esc="sidebarOpened = false"
			tabindex="0"
		>
			<div class="fixed-sidebar-left sidebar--small" id="sidebar-left">
				<a href="02-ProfilePage.html" class="logo">
					<div class="img-wrap">
						<img src="/img/logo.png" alt="Meet To Eat Logo" />
					</div>
				</a>

				<div class="mCustomScrollbar" data-mcs-theme="dark">
					<ul class="left-menu">
						<li>
							<a
								href="javascript:;"
								@click.prevent="sidebarOpened = true"
								class="js-sidebar-open"
							>
								<svg
									class="olymp-menu-icon left-menu-icon"
									data-toggle="tooltip"
									data-placement="right"
									data-original-title="OPEN MENU"
								>
									<use
										xlink:href="/svg-icons/sprites/icons.svg#olymp-menu-icon"
									></use>
								</svg>
							</a>
						</li>

						<!-- menu items -->
						<li v-for="item in menuItems" :key="item.link">
							<nuxt-link :to="item.link">
								<svg
									class="olymp-menu-icon left-menu-icon"
									data-toggle="tooltip"
									data-placement="right"
									:data-original-title="$t(item.title)"
								>
									<use :xlink:href="item.icon"></use>
								</svg>
							</nuxt-link>
						</li>
					</ul>
				</div>
			</div>

			<div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1">
				<a href="02-ProfilePage.html" class="logo">
					<div class="img-wrap">
						<img src="/img/logo.png" alt="Olympus" />
					</div>
					<div class="title-block">
						<h6
							class="logo-title"
							v-text="$t('project_title')"
						></h6>
					</div>
				</a>

				<div class="mCustomScrollbar" data-mcs-theme="dark">
					<ul class="left-menu">
						<li>
							<a
								href="javascript:;"
								@click.prevent="sidebarOpened = false"
								class="js-sidebar-open"
							>
								<svg class="olymp-close-icon left-menu-icon">
									<use
										xlink:href="/svg-icons/sprites/icons.svg#olymp-close-icon"
									></use>
								</svg>
								<span
									class="left-menu-title text-secondary"
									v-text="$t('collapse_menu')"
								></span>
							</a>
						</li>
						<li v-for="item in menuItems" :key="item.link">
							<nuxt-link :to="item.link">
								<svg
									class="olymp-menu-icon left-menu-icon"
									data-toggle="tooltip"
									data-placement="right"
									:data-original-title="$t(item.title)"
								>
									<use :xlink:href="item.icon"></use>
								</svg>
								<span
									class="left-menu-title text-secondary"
									v-text="$t(item.title)"
								></span>
							</nuxt-link>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- ... end Fixed Sidebar Left -->

		<!-- Fixed Sidebar Left Responsive -->
		<div class="fixed-sidebar fixed-sidebar-responsive">
			<div
				class="fixed-sidebar-left sidebar--small"
				id="sidebar-left-responsive"
			>
				<a
					href="javascript:;"
					@click="sidebarOpened = true"
					class="logo js-sidebar-open"
				>
					<img src="/img/logo.png" alt="Olympus" />
				</a>
			</div>

			<div
				class="fixed-sidebar-left sidebar--large"
				id="sidebar-left-1-responsive"
			>
				<a href="#" class="logo">
					<div class="img-wrap">
						<img src="/img/logo.png" alt="Olympus" />
					</div>
					<div class="title-block">
						<h6
							class="logo-title"
							v-text="$t('project_title')"
						></h6>
					</div>
				</a>

				<div class="mCustomScrollbar" data-mcs-theme="dark">
					<div class="control-block">
						<div class="author-page author vcard inline-items">
							<div class="author-thumb">
								<img
									alt="author"
									src="/img/author-page.jpg"
									class="avatar"
								/>
								<span class="icon-status online"></span>
							</div>
							<a
								href="02-ProfilePage.html"
								class="author-name fn"
							>
								<div class="author-title">
									James Spiegel
									<svg class="olymp-dropdown-arrow-icon">
										<use
											xlink:href="/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"
										></use>
									</svg>
								</div>
								<span class="author-subtitle"
									>SPACE COWBOY</span
								>
							</a>
						</div>
					</div>

					<div class="ui-block-title ui-block-title-small">
						<h6>MAIN SECTIONS</h6>
					</div>

					<ul class="left-menu">
						<li>
							<a
								href="javascript:;"
								@click="sidebarOpened = false"
								class="js-sidebar-open"
							>
								<svg class="olymp-close-icon left-menu-icon">
									<use
										xlink:href="/svg-icons/sprites/icons.svg#olymp-close-icon"
									></use>
								</svg>
								<span
									class="left-menu-title text-secondary"
									v-text="$t('collapse_menu')"
								></span>
							</a>
						</li>
						<li v-for="item in menuItems" :key="item.link">
							<nuxt-link :to="item.link">
								<svg
									class="olymp-menu-icon left-menu-icon"
									data-toggle="tooltip"
									data-placement="right"
									:data-original-title="$t(item.title)"
								>
									<use :xlink:href="item.icon"></use>
								</svg>
								<span
									class="left-menu-title text-secondary"
									v-text="$t(item.title)"
								></span>
							</nuxt-link>
						</li>
					</ul>

					<div class="ui-block-title ui-block-title-small">
						<h6 v-text="$t('account')"></h6>
					</div>

					<ul class="account-settings">
						<li>
							<a href="#">
								<svg class="olymp-menu-icon">
									<use
										xlink:href="/svg-icons/sprites/icons.svg#olymp-menu-icon"
									></use>
								</svg>

								<span v-text="$t('profile_settings')"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<svg
									class="olymp-star-icon left-menu-icon"
									data-toggle="tooltip"
									data-placement="right"
									data-original-title="FAV PAGE"
								>
									<use
										xlink:href="/svg-icons/sprites/icons.svg#olymp-star-icon"
									></use>
								</svg>

								<span>Create Fav Page</span>
							</a>
						</li>
						<li>
							<a href="#">
								<svg class="olymp-logout-icon">
									<use
										xlink:href="/svg-icons/sprites/icons.svg#olymp-logout-icon"
									></use>
								</svg>

								<span v-text="$t('log_out')"></span>
							</a>
						</li>
					</ul>

					<div class="ui-block-title ui-block-title-small">
						<h6
							v-text="$t('about') + ' ' + $t('project_title')"
						></h6>
					</div>

					<ul class="about-olympus">
						<li>
							<a href="#">
								<span
									v-text="$t('terms_and_conditions')"
								></span>
							</a>
						</li>
						<li>
							<a href="#">
								<span v-text="$t('faqs')"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<span v-text="$t('careers')"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<span v-text="$t('contact')"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- ... end Fixed Sidebar Left -->

		<!-- Header-BP -->
		<header class="header" id="site-header">
			<div class="page-title">
				<h6 v-text="$t('newsfeed')"></h6>
			</div>

			<div class="header-content-wrapper">
				<nuxt-link
					to="/recipe/search"
					class="link-find-friend"
					v-text="$t('find_recipe')"
				></nuxt-link>
				<nuxt-link
					to="/categories"
					class="link-find-friend"
					v-text="$t('browse_categories')"
				></nuxt-link>
        <nuxt-link
					to="/recipe/add"
					class="link-find-friend"
					v-text="$t('add_category')"
				></nuxt-link>
			</div>
		</header>
		<!-- ... end Header-BP -->

		<!-- Responsive Header-BP -->
		<header class="header header-responsive" id="site-header-responsive">
			<div class="header-content-wrapper">
				<ul class="nav nav-tabs mobile-app-tabs" role="tablist">
					<li class="nav-item">
						<a
							class="nav-link"
							data-toggle="tab"
							href="#notification"
							role="tab"
						>
							<div class="control-icon has-items">
								<svg class="olymp-thunder-icon">
									<use
										xlink:href="/svg-icons/sprites/icons.svg#olymp-thunder-icon"
									></use>
								</svg>
								<div class="label-avatar bg-primary">8</div>
							</div>
						</a>
					</li>

					<li class="nav-item">
						<a
							class="nav-link"
							data-toggle="tab"
							href="#search"
							role="tab"
						>
							<svg class="olymp-magnifying-glass-icon">
								<use
									xlink:href="/svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"
								></use>
							</svg>
							<svg class="olymp-close-icon">
								<use
									xlink:href="/svg-icons/sprites/icons.svg#olymp-close-icon"
								></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>

			<!-- Tab panes -->
			<div class="tab-content tab-content-responsive">
				<div class="tab-pane" id="notification" role="tabpanel">
					<div class="mCustomScrollbar" data-mcs-theme="dark">
						<div class="ui-block-title ui-block-title-small">
							<h6>Notifications</h6>
							<a href="#">Mark all as read</a>
							<a href="#">Settings</a>
						</div>

						<ul class="notification-list">
							<li>
								<div class="author-thumb">
									<img
										src="/img/avatar62-sm.jpg"
										alt="author"
									/>
								</div>
								<div class="notification-event">
									<div>
										<a
											href="#"
											class="h6 notification-friend"
											>Mathilda Brinker</a
										>
										commented on your new
										<a href="#" class="notification-link"
											>profile status</a
										>.
									</div>
									<span class="notification-date"
										><time
											class="entry-date updated"
											datetime="2004-07-24T18:18"
											>4 hours ago</time
										></span
									>
								</div>
								<span class="notification-icon">
									<svg class="olymp-comments-post-icon">
										<use
											xlink:href="/svg-icons/sprites/icons.svg#olymp-comments-post-icon"
										></use>
									</svg>
								</span>

								<div class="more">
									<svg class="olymp-three-dots-icon">
										<use
											xlink:href="/svg-icons/sprites/icons.svg#olymp-three-dots-icon"
										></use>
									</svg>
									<svg class="olymp-little-delete">
										<use
											xlink:href="/svg-icons/sprites/icons.svg#olymp-little-delete"
										></use>
									</svg>
								</div>
							</li>

							<li class="un-read">
								<div class="author-thumb">
									<img
										src="/img/avatar63-sm.jpg"
										alt="author"
									/>
								</div>
								<div class="notification-event">
									<div>
										You and
										<a
											href="#"
											class="h6 notification-friend"
											>Nicholas Grissom</a
										>
										just became friends. Write on
										<a href="#" class="notification-link"
											>his wall</a
										>.
									</div>
									<span class="notification-date"
										><time
											class="entry-date updated"
											datetime="2004-07-24T18:18"
											>9 hours ago</time
										></span
									>
								</div>
								<span class="notification-icon">
									<svg class="olymp-happy-face-icon">
										<use
											xlink:href="/svg-icons/sprites/icons.svg#olymp-happy-face-icon"
										></use>
									</svg>
								</span>

								<div class="more">
									<svg class="olymp-three-dots-icon">
										<use
											xlink:href="/svg-icons/sprites/icons.svg#olymp-three-dots-icon"
										></use>
									</svg>
									<svg class="olymp-little-delete">
										<use
											xlink:href="/svg-icons/sprites/icons.svg#olymp-little-delete"
										></use>
									</svg>
								</div>
							</li>

							<li class="with-comment-photo">
								<div class="author-thumb">
									<img
										src="/img/avatar64-sm.jpg"
										alt="author"
									/>
								</div>
								<div class="notification-event">
									<div>
										<a
											href="#"
											class="h6 notification-friend"
											>Sarah Hetfield</a
										>
										commented on your
										<a href="#" class="notification-link"
											>photo</a
										>.
									</div>
									<span class="notification-date"
										><time
											class="entry-date updated"
											datetime="2004-07-24T18:18"
											>Yesterday at 5:32am</time
										></span
									>
								</div>
								<span class="notification-icon">
									<svg class="olymp-comments-post-icon">
										<use
											xlink:href="/svg-icons/sprites/icons.svg#olymp-comments-post-icon"
										></use>
									</svg>
								</span>

								<div class="comment-photo">
									<img
										src="/img/comment-photo1.jpg"
										alt="photo"
									/>
									<span
										>“She looks incredible in that outfit!
										We should see each...”</span
									>
								</div>

								<div class="more">
									<svg class="olymp-three-dots-icon">
										<use
											xlink:href="/svg-icons/sprites/icons.svg#olymp-three-dots-icon"
										></use>
									</svg>
									<svg class="olymp-little-delete">
										<use
											xlink:href="/svg-icons/sprites/icons.svg#olymp-little-delete"
										></use>
									</svg>
								</div>
							</li>

							<li>
								<div class="author-thumb">
									<img
										src="/img/avatar65-sm.jpg"
										alt="author"
									/>
								</div>
								<div class="notification-event">
									<div>
										<a
											href="#"
											class="h6 notification-friend"
											>Green Goo Rock</a
										>
										invited you to attend to his event Goo
										in
										<a href="#" class="notification-link"
											>Gotham Bar</a
										>.
									</div>
									<span class="notification-date"
										><time
											class="entry-date updated"
											datetime="2004-07-24T18:18"
											>March 5th at 6:43pm</time
										></span
									>
								</div>
								<span class="notification-icon">
									<svg class="olymp-happy-face-icon">
										<use
											xlink:href="/svg-icons/sprites/icons.svg#olymp-happy-face-icon"
										></use>
									</svg>
								</span>

								<div class="more">
									<svg class="olymp-three-dots-icon">
										<use
											xlink:href="/svg-icons/sprites/icons.svg#olymp-three-dots-icon"
										></use>
									</svg>
									<svg class="olymp-little-delete">
										<use
											xlink:href="/svg-icons/sprites/icons.svg#olymp-little-delete"
										></use>
									</svg>
								</div>
							</li>

							<li>
								<div class="author-thumb">
									<img
										src="/img/avatar66-sm.jpg"
										alt="author"
									/>
								</div>
								<div class="notification-event">
									<div>
										<a
											href="#"
											class="h6 notification-friend"
											>James Summers</a
										>
										commented on your new
										<a href="#" class="notification-link"
											>profile status</a
										>.
									</div>
									<span class="notification-date"
										><time
											class="entry-date updated"
											datetime="2004-07-24T18:18"
											>March 2nd at 8:29pm</time
										></span
									>
								</div>
								<span class="notification-icon">
									<svg class="olymp-heart-icon">
										<use
											xlink:href="/svg-icons/sprites/icons.svg#olymp-heart-icon"
										></use>
									</svg>
								</span>

								<div class="more">
									<svg class="olymp-three-dots-icon">
										<use
											xlink:href="/svg-icons/sprites/icons.svg#olymp-three-dots-icon"
										></use>
									</svg>
									<svg class="olymp-little-delete">
										<use
											xlink:href="/svg-icons/sprites/icons.svg#olymp-little-delete"
										></use>
									</svg>
								</div>
							</li>
						</ul>

						<a href="#" class="view-all bg-primary"
							>View All Notifications</a
						>
					</div>
				</div>

				<div class="tab-pane" id="search" role="tabpanel">
					<form
						class="search-bar w-search notification-list friend-requests"
					>
						<div class="form-group with-button">
							<input
								class="form-control js-user-search"
								placeholder="Search here people or pages..."
								type="text"
							/>
						</div>
					</form>
				</div>
			</div>
			<!-- ... end  Tab panes -->
		</header>
		<!-- ... end Responsive Header-BP -->
		<div v-if="!noHeaderSpacerItems.includes(pageName)" class="header-spacer"></div>
		<nuxt />

		<a class="back-to-top" href="#">
			<img
				src="/svg-icons/back-to-top.svg"
				alt="arrow"
				class="back-icon"
			/>
		</a>
	</v-app>
</template>

<script>
import { mapGetters } from 'vuex'
import PreLoader from '../components/PreLoader'
export default {
	component: {
		'pre-loader': PreLoader,
	},
	data() {
		return {
			loading: true,
			sidebarOpened: false,

			menuItems: [
				{
					title: 'newsfeed',
					icon: '/svg-icons/sprites/icons.svg#olymp-newsfeed-icon',
					link: '/',
				},
				{
					title: 'search',
					icon:
						'/svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon',
					link: '/recipe/search',
				},
				{
					title: 'categories',
					icon: '/svg-icons/sprites/icons.svg#olymp-albums-icon',
					link: '/categories',
				},
        {
					title: 'add_new_recipe',
					icon: '/svg-icons/sprites/icons.svg#olymp-plus-icon',
					link: '/recipe/add',
				},
			],

      noHeaderSpacerItems: ['categories','recipe-search','recipe-add','recipe-id']
    }
  },

  computed: {
    pageName() {
      return this.$route.name ? this.$route.name.slice(0,-5) : null
    }
  },

	mounted() {
    setTimeout(() => {
      this.loading = false
    }, 1000);
  }
}
</script>

<style>
.v-application ul,
.v-application ol {
	padding-left: 0 !important;
}
</style>
