<template>
	<v-app class="landing-page">
		<!-- Preloader -->
		<pre-loader v-if="loading" />
		<!-- ... end Preloader -->

		<div class="content-bg-wrap"></div>

		<nuxt />
	</v-app>
</template>

<script>
import PreLoader from '../components/PreLoader'
export default {
	component: {
		'pre-loader': PreLoader,
	},
	data() {
		return {
			loading: true,
		}
	},
	mounted() {
		this.loading = false
	},
}
</script>
