<template>
	<div>
		<div class="main-header">
			<div class="content-bg-wrap bg-group"></div>
			<div class="container">
				<div class="row">
					<div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
						<div class="main-header-content">
							<h1>Browse Our Amazing Categories</h1>
							<p>
								here you can find variant types of categories to choose from
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row align-items-center py-3">
				<div
					v-for="item in categories"
					:key="item.id"
					class="col-lg-2 col-md-4 col-6"
				>
					<a
						:href="item.link"
						:class="`ui-block ui-block-custom category-item d-flex align-items-center justify-content-center flex-column p-4 mb-0 ${
							activeCategory == item.id
								? 'category-item-active'
								: ''
						}`"
						@click="() => (activeCategory = item.id)"
					>
						<i
							:class="`las la-${item.icon} h1 font-weight-bolder`"
						></i>
						<div
							class="category-title h6 text-uppercase"
							v-text="item.name"
						></div>
					</a>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
  title: 'categories',
	data() {
		return {
			categories: [
				{
					id: 0,
					name: 'dessert',
					icon: 'cookie',
					link: '#',
				},
				{
					id: 1,
					name: 'drinks',
					icon: 'coffee',
					link: '#',
				},
				{
					id: 2,
					name: 'main plate',
					icon: 'drumstick-bite',
					link: '#',
				},
			],

			activeCategory: 0,
		}
	},
}
</script>

<style lang="scss" scoped>
.category-item {
	transition: all 0.2s ease-in-out;
	&-active {
		background: #e63946;
		i {
			color: white !important;
		}
		.category-title {
			color: white !important;
		}
	}
	&:not(.category-item-active):hover {
		i {
			color: #e63946 !important;
		}
		.category-title {
			color: #e63946 !important;
		}
	}
}
.main-header {
  padding-top: 140px;
}
</style>
