<template>
	<div class="landing-page">
		<!-- preloader  -->
		<!-- <pre-loader :transparent="true" v-if="loading"></pre-loader> -->
		<div
			class="header--standard header--standard-landing"
			id="header--standard"
		>
			<div class="container">
				<div class="header--standard-wrap">
					<a href="#" class="logo">
						<div class="img-wrap">
							<img src="img/logo.png" alt="Meet To Eat" />
							<img
								src="img/logo-colored-small.png"
								alt="Olympus"
								class="logo-colored"
							/>
						</div>
						<div class="title-block">
							<h6 class="logo-title">Meet</h6>
							<div class="sub-title">To Eat</div>
						</div>
					</a>
				</div>
			</div>
		</div>

		<!-- ... end Header Standard Landing  -->
		<div class="header-spacer--standard"></div>

		<div class="container">
			<div class="row display-flex">
				<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
					<div class="landing-content">
						<h1>
							Welcome to the Biggest Cooking Social Network in the
							World
						</h1>
						<p>
							We are the best and biggest social network with 5
							billion active users all around the world. Share you
							thoughts, write blog posts, show your favourite
							music via Stopify, earn badges and much more!
						</p>
					</div>
				</div>

				<div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">
					<!-- Login-Registration Form  -->

					<div class="registration-login-form">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item">
								<a
									class="nav-link active"
									data-toggle="tab"
									href="#home"
									role="tab"
								>
									<svg class="olymp-login-icon">
										<use
											xlink:href="/svg-icons/sprites/icons.svg#olymp-login-icon"
										></use>
									</svg>
								</a>
							</li>
							<li class="nav-item">
								<a
									class="nav-link"
									data-toggle="tab"
									href="#profile"
									role="tab"
								>
									<svg class="olymp-register-icon">
										<use
											xlink:href="/svg-icons/sprites/icons.svg#olymp-register-icon"
										></use>
									</svg>
								</a>
							</li>
						</ul>

						<!-- Tab panes -->
						<div class="tab-content">
							<div
								class="tab-pane active"
								id="home"
								role="tabpanel"
								data-mh="log-tab"
							>
								<div
									class="title h6"
									v-text="
										`${$t('regisiter_to')} ${$t(
											'project_title'
										)}`
									"
								></div>
								<form class="content">
									<div class="row">
										<div class="col-6">
											<div class="form-group">
												<v-text-field
													:label="$t('first_name')"
													v-model="first_name"
													hide-details
													outlined
												></v-text-field>
											</div>
										</div>
										<div class="col-6">
											<div class="form-group">
												<v-text-field
													:label="$t('last_name')"
													v-model="last_name"
													hide-details
													outlined
												></v-text-field>
											</div>
										</div>
										<div class="col-12">
											<div class="form-group">
												<v-text-field
													label="Email"
													v-model="email"
													outlined
													hide-details
												></v-text-field>
											</div>
										</div>
										<div class="col-12">
											<div class="form-group">
												<v-menu
													ref="dobMenu"
													v-model="dobMenu"
													:close-on-content-click="
														false
													"
													transition="scale-transition"
													offset-y
													min-width="290px"
												>
													<template
														v-slot:activator="{
															on,
														}"
													>
														<v-text-field
															v-model="birthday"
															prepend-icon="la la-calendar"
															hide-details
															readonly
															outlined
															v-on="on"
														></v-text-field>
													</template>
													<v-date-picker
														v-model="birthday"
														no-title
														scrollable
													>
													</v-date-picker>
												</v-menu>
											</div>
										</div>
										<div class="col-6">
											<div class="form-group">
												<v-autocomplete
													v-model="country_id"
													:items="countries"
													item-text="name"
													item-value="id"
													outlined
													hide-details
													:label="$t('country')"
												></v-autocomplete>
											</div>
										</div>
										<div class="col-6">
											<div class="form-group">
												<v-autocomplete
													v-model="gender_id"
													:items="genders"
													item-text="name"
													item-value="id"
													outlined
													hide-details
													:label="$t('gender')"
												></v-autocomplete>
											</div>
										</div>
										<div class="col-12">
											<div class="form-group">
												<v-text-field
													:label="$t('mobile_number')"
													v-model="mobile_number"
													outlined
													hide-details
												></v-text-field>
											</div>
										</div>
										<div class="col-12">
											<div class="form-group">
												<v-text-field
													:label="$t('password')"
													v-model="password"
													outlined
													:placeholder="
														$t(
															'please_enter_your_password'
														)
													"
													type="password"
													hide-details
												></v-text-field>
											</div>
										</div>
										<div class="col-12">
											<div class="form-group is-select">
												<v-text-field
													:label="
														$t(
															'password_confirmation'
														)
													"
													v-model="
														password_confirmation
													"
													outlined
													type="password"
													hide-details
												></v-text-field>
											</div>
										</div>
										<div class="col-12">
											<button
												type="submit"
												class="btn btn-primary btn-lg full-width"
												@click.prevent="register"
												v-text="
													$t('complete_registration')
												"
											></button>
										</div>
									</div>
								</form>
							</div>

							<div
								class="tab-pane"
								id="profile"
								role="tabpanel"
								data-mh="log-tab"
							>
								<div
									class="title h6"
									v-text="$t('login_to_your_account')"
								></div>
								<form class="content">
									<div class="row">
										<div class="col-12">
											<div class="form-group">
												<v-text-field
													:label="$t('email')"
													v-model="email"
													outlined
													dense
													hide-details
												></v-text-field>
											</div>
											<div class="form-group">
												<v-text-field
													:label="$t('password')"
													v-model="password"
													outlined
													:placeholder="
														$t(
															'please_enter_your_password'
														)
													"
													type="password"
													hide-details
												></v-text-field>
											</div>

											<div class="remember">
												<div class="checkbox">
													<label>
														<input
															name="optionsCheckboxes"
															type="checkbox"
														/>
														Remember Me
													</label>
												</div>
												<a
													href="#"
													class="forgot"
													data-toggle="modal"
													data-target="#restore-password"
													>Forgot my Password</a
												>
											</div>

											<button
												@click.prevent="login"
												class="btn btn-lg btn-primary full-width"
												v-text="$t('login')"
											></button>

											<p>
												Don’t you have an account?
												<a href="#" class="text-primary"
													>Register Now!</a
												>
												it’s really simple and you can
												start enjoing all the benefits!
											</p>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>

					<!-- ... end Login-Registration Form  -->
				</div>
			</div>
		</div>

		<!-- Window-popup Restore Password -->

		<div
			class="modal fade"
			id="restore-password"
			tabindex="-1"
			role="dialog"
			aria-labelledby="restore-password"
			aria-hidden="true"
		>
			<div
				class="modal-dialog window-popup restore-password-popup"
				role="document"
			>
				<div class="modal-content">
					<a
						href="#"
						class="close icon-close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<svg class="olymp-close-icon">
							<use
								xlink:href="/svg-icons/sprites/icons.svg#olymp-close-icon"
							></use>
						</svg>
					</a>

					<div class="modal-header">
						<h6 class="title">Restore your Password</h6>
					</div>

					<div class="modal-body">
						<form method="get">
							<p>
								Enter your email and click the send code button.
								You’ll receive a code in your email. Please use
								that code below to change the old password for a
								new one.
							</p>
							<div class="form-group">
								<label
									class="control-label"
									v-text="$t('email')"
								></label>
								<input
									class="form-control"
									:placeholder="$t('please_enter_your_email')"
									type="email"
									value="james-spiegel@yourmail.com"
								/>
							</div>
							<button
								class="btn btn-purple btn-lg full-width"
								v-text="$t('send_me_the_code')"
							></button>
							<div class="form-group">
								<label class="control-label"
									>Enter the Code</label
								>
								<input
									class="form-control"
									placeholder=""
									type="text"
									value=""
								/>
							</div>
							<div class="form-group">
								<label class="control-label"
									>Your New Password</label
								>
								<input
									class="form-control"
									placeholder=""
									type="password"
									value="olympus"
								/>
							</div>
							<button class="btn btn-primary btn-lg full-width">
								Change your Password!
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- ... end Window-popup Restore Password -->
	</div>
</template>

<script>
import { mapActions } from 'vuex'
import { createHelpers } from 'vuex-map-fields'
import PreLoader from '../components/PreLoader'

// two way binding for vuex data
const { mapFields: mapLoginFields } = createHelpers({
	getterType: 'login/getField',
	mutationType: 'login/updateField',
})
const { mapFields } = createHelpers({
	getterType: 'getField',
	mutationType: 'updateField',
})
export default {
	component: {
		'pre-loader': PreLoader,
	},
	layout: 'login',

	data() {
		return {
			dobMenu: false,
			// loading: true,
		}
	},

	computed: {
		...mapFields(['countries', 'genders']),
		...mapLoginFields({
			first_name: 'data.first_name',
			last_name: 'data.last_name',
			email: 'data.email',
			birthday: 'data.birthday',
			mobile_number: 'data.mobile_number',
			international_dialing_code: 'data.international_dialing_code',
			password: 'data.password',
			password_confirmation: 'data.password_confirmation',
			country_id: 'data.country_id',
			gender_id: 'data.gender_id',
		}),
	},

	methods: {
		register() {
			this.$store.dispatch('login/signup_submit')
		},
		async login() {
			// this.loading = true
			await this.$store.dispatch('login/login_submit')
			// this.loading = false
		},
	},

	mounted() {
		this.loading = false
	},
}
</script>

<style></style>
